//- index.pug
extends ../../layouts/layout

block html_title
    | Aerolineas Argentinas - Componentes

block content

    +section__header

    section.services__above-the-fold
        img(src="/assets/images/componentesHead.png", alt="Componentes Aerolineas Argentinas")
        
    section.services__title
        .container-lg
            .row
                .col-12
                    p Servicios
    
    section.services__nav--first.d-flex.d-lg-none
        .container-fluid
            .row
                .col-12
                    a(href="/app/servicios/capacitacion-tecnica.html", target="_self", rel="noopener noreferrer" title="Capacitación Técnica")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="32", height="32")
                            path(d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="rgba(0,33,87,1)")
                    h1 Componentes
                    a(href="/app/servicios/aeronavegabilidad-continuada.html", target="_self", rel="noopener noreferrer" title="Aeronavegabilidad Continuada")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="32", height="32")
                            path(d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(0,33,87,1)")


    section.container-lg.pt-4
        .row
            .col-12
                div
                    h2.d-none.d-lg-inline-flex Componentes
                    p.mb-3 Contamos con 
                        b 20 talleres de mantenimiento de componentes
                        | en ambas bases de operación con capacidad 
                        b para el testeo, reparación y overhaul en mas de 8900 P/Ns.

    section.container-lg
        .row
            .col-12.col-lg-3
                h3 Talleres Disponibles:
                ul.services__list
                    li Aviónica y Electrónica
                    li Sistemas y Componentes
                    li Hidráulica y Neumática
                    li Accesorios mecánicos
                    li Equipos de emergencia
                    li Interiores de cabina
                    li Trenes de Aterrizaje
                    li Ruedas y Frenos
                    li Baterías Ni Cd
                    li Gases
                    li Metrología
            .col-12.col-lg-3.services__img.d-flex.flex-row.flex-lg-column.mb-2
                img.me-1.me-lg-0.mb-0.mb-lg-2(src="/assets/images/componentesBody1.jpg", alt="Componentes Aerolineas Argentinas")
                img.ms-1.ms-lg-0(src="/assets/images/componentesBody2.jpg", alt="Componentes Aerolineas Argentinas")
            .col-12.col-lg-6.services__img
                img(src="/assets/images/componentesBody3.jpg", alt="Componentes Aerolineas Argentinas")

    section.services__nav--last.d-none.d-lg-flex
        .container
            .row
                .col-12
                    nav.nav
                        a.nav-link(href="/app/servicios/aeronaves.html", target="_self", rel="noopener noreferrer", title="Aeronaves") Aeronaves
                        a.nav-link(href="/app/servicios/motores.html", target="_self", rel="noopener noreferrer", title="Motores") Motores
                        a.nav-link(href="/app/servicios/capacitacion-tecnica.html", target="_self", rel="noopener noreferrer", title="Capacitación Técnica") Capacitación Técnica
                        a.nav-link.active(aria-current="page", href="/app/servicios/componentes.html", target="_self", rel="noopener noreferrer", title="Componentes") Componentes
                        a.nav-link(href="/app/servicios/aeronavegabilidad-continuada.html", target="_self", rel="noopener noreferrer", title="Aeronavegabilidad Continuada") Aeronavegabilidad Continuada

    +section__footer