@import "../abstracts/abstracts-module";

.slide {

    .carousel-item {
        & > img {
            aspect-ratio: 5/2;
        }
        .carousel-caption {
            width: 30%;
            right: 15%;
            bottom: 30%;
            left: initial;
            top: initial;
        }
    }
    h1, p {
        text-align: right;
    }
    hr {
        border-color: $primary;
        border-width: $spacer * .5;
        margin-bottom: $spacer * 3;
    }
}

#slide1 {
    h1, p {
        color: $white;
    }
    p {
        padding-bottom: 1.5rem;
    }
}

#slide2 {
    h1, p {
        color: $secondary;
    }
}


@include media-breakpoint-down(lg) {
    .slide {
        .carousel-item {
            & > img {
                aspect-ratio: 3/2;
            }
            .carousel-caption {
                background-color: $primary;
                padding: 14vh 1rem;
                width: 100%;
                position: relative;
                right: initial;
                bottom: initial;
                left: initial;
                top: initial;
            }
        }
        h1, p {
            color: $white !important;
            text-align: left !important;
        }
        hr {
            border-color: $secondary !important;
        }
    }

}

@include media-breakpoint-up(xl) {
    .slide {

        .carousel-item {
            .carousel-caption {
                width: 20%;
            }
        }
    } 
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 991px)
  and (orientation: landscape) {
    .slide {
        & .fp-overflow > img {
            height: 30vh;
        }
    }
}

section[id^="section"] {
    padding-top: 10rem;
    min-height: calc(100vh - 20rem);
}

#section3 {
    padding-bottom: 10rem;
}

.home__services__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        display: flex;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
    h4 {
        position: absolute;
        color: $white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: $spacer * 2;
        margin: 0;
    }
}

@include media-breakpoint-down(lg) {
    .home__services {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
}

.home__certifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3 {
        background-color: $secondary;
        color: $white;
        text-align: center;
        width: 100%;
        padding: $spacer * .5;
        margin: 0;
    }
    img {
        width: 100%;
        display: flex;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
    hr {
        border-color: #707070;
        width: 100%;
        margin: 0 0 $spacer 0;
        opacity: 1;
    }
    p {
        color: #898A8D;
        text-align: center;
        margin: 0;
    }
}